
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

//PALETA DE COLORES
$color-principal: #5d5d58;
$color-white: #ffffff;
$color-black: hsl(0, 0%, 0%);
$subtitle-color: #20b2aa;

body{
    background-color: $color-principal;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    background: $color-white;
}

header{
    background-image: url(../img/Platalea\ leucorodia.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: auto;
    img{
        align-self: center;
    }
    h1,h2{
        font-weight: bold;
        color: $color-white;
        text-shadow: 0 0 5px $color-black;
    }
}
nav{
    margin-top: 2%;
    font-weight: bold;
    font-size:x-large;
    ul {
        list-style-type: none;  
        li{
            a{
                padding: 0.25em 1em;
                text-decoration: none;
                color: $color-black; 
            }
            a:hover, a:focus {
                font-weight: bold;
                text-decoration:none;
            }
        }
    } 
    .dropdown-menu a{
        color: $color-black;
        font-weight: bold;
    }
}
 .informacion{
     margin: 1em;
     h3,h5,p{
            color: $color-black;
            font-weight: bold;
        }
     h3,h5{
            text-align: center;
        }
     h5{
         color: $subtitle-color;
     }
    img{
        border-radius: 1em;
        max-width: 100%;
        height: auto;
    }
    .bird-content{
       img{
           float: right;
       }
    }
    hr{
        border:         none;
        border-left:    1px solid hsla(100, 10%, 80%,200);
        height:         100vh;
        width:          1px;       
    }
    .proyectos{
        article{
            margin-top: 10%;
        }
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    }
}
footer{
    background-image: url(../img/Platalea\ leucorodia.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    flex-wrap: wrap;
    width: auto;
    button{
        margin: 2%;
    }
    .RRSS{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        h5{
            margin-left: 25%;
            font-weight: bold;
            color: $color-white;
            text-shadow: 0 0 5px black;
        }
    }
    .contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        margin-top: 1%;
        h5{
            text-align: center;
            font-weight: bold;
            color: $color-white;
            text-shadow: 0 0 5px black;
        }
        button{
            padding: 0%;
        }
    }
}
@media (max-width: 600px) {
    .informacion {
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
    }
    .proyectos{

    }
  }